/* Ajustes gerais */
body {
    font-family: Arial;
    background-color: #000000; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
#cabecalho {
    margin-top: 20px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-size: 70px;
    margin-top: -3%;
    margin-bottom: 7%;
}

.header-link {
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Mantém a cor do cabeçalho */
}
.header-link:hover {
    color: #ffcc00;
    
}

/* Estilos dos cards */
.card {
    max-width: 100%;
}

.card-header {
    font-size: 1.5rem;
}

.card-body ul {
    padding-left: 20px;
    font-size: 1rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    #cabecalho h1, #cabecalho h2 {
        font-size: 36px;
    }

    .card-body ul {
        font-size: 0.9rem;
    }
}

/* Rodapé */
footer {
    margin-top: 40px;
}

footer button {
    width: 50px;
    height: 50px;
}

footer .text-white {
    font-size: 0.9rem;
}
