body {
    font-family: Arial;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.header-link {
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Mantém a cor do cabeçalho */
}

.header-link:hover {
    opacity: 0.8; /* Efeito de hover se desejado */
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-size: 70px;
    margin-top: -10%;
    margin-bottom: 7%;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.brand {
    font-size: 48px;
    color: #ffffff;
}

.subtitle {
    font-size: 36px;
    color: #E5A220;
}

.form-custom {
    background-color: #E5A220;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
    padding: 10px;
    margin-bottom: 15px;
}

.btn-custom {
    background-color: #E5A220;
    color: #000;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #cf8e1b; /* Efeito hover mais escuro */
}

.icon {
    width: 30px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

/* Formatação do Rodapé */
footer#rodape {
    display: block;
    width: 100%; /* Largura total do rodapé */
    height: 50px;
    margin-top: 300px;
    text-align: center; /* Centraliza o conteúdo do rodapé */
    color: #ffffff;   
}

footer#rodape p#copy,
footer#rodape p#links {
    color: yellow;
}

footer#rodape a {
    text-decoration: none;
    color: yellow;
}
